VUT_BASE_URL=https://www.vut.cz
VUT_USERNAME=
VUT_PASSWORD=
VUT_SESSION_COOKIE=
VUT_MOODLE_BASE_URL=https://moodle.vut.cz
VUT_MOODLE_ACCESS_MODE=auto
VUT_MOODLE_TOKEN=
VUT_MOODLE_SESSION_COOKIE=
VUT_HTTP_TIMEOUT_SECONDS=20
VUT_CACHE_PATH=
VUT_CACHE_DISABLED=false
